<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title>Eintech Coding Task</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <div id="container">
        <ion-item>
          <ion-input
            v-model="nameToAdd"
            placeholder="Enter name to add..."
          ></ion-input>
          <ion-button @click="createPerson()" color="primary" clear slot="end"
            >Add</ion-button
          >
        </ion-item>
        <ion-list>
          <ion-item-sliding v-for="person in people" :key="person.id">
            <ion-item>
              <ion-label>{{ person.name }}</ion-label>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger" @click="deletePerson(person.id)"
                >Delete</ion-item-option
              >
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { Client, Person } from "../api";

import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonList,
  IonItem,
  IonButton,
  IonLabel,
  IonInput,
  IonItemSliding,
  IonItemOptions,
  toastController,
} from "@ionic/vue";

import { defineComponent } from "vue";

export default defineComponent({
  name: "HomePage",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonList,
    IonItem,
    IonButton,
    IonLabel,
    IonInput,
    IonItemSliding,
    IonItemOptions,
  },
  methods: {
    async createPerson() {
      try {
        if (this.nameToAdd != "") {
          await new Client().addPerson(this.nameToAdd);
          await this.refreshPeople();
          const toast = await toastController.create({
            message: `${this.nameToAdd} has been added.`,
            duration: 2000,
          });
          this.nameToAdd = "";
          return toast.present();
        }
      } catch (error) {
        console.error(error);
        const errorToast = await toastController.create({
          message:
            "There was an error trying to create the person. Please try again later",
          duration: 2000,
        });
        return errorToast.present();
      }
    },
    async deletePerson(id: string) {
      try {
        await new Client().deletePerson(id);
        await this.refreshPeople();
        const toast = await toastController.create({
          message: "The person has been deleted.",
          duration: 2000,
        });
        return toast.present();
      } catch (error) {
        console.error(error);
        const errorToast = await toastController.create({
          message:
            "There was an error trying to delete the person. Please try again later",
          duration: 2000,
        });
        return errorToast.present();
      }
    },
    async refreshPeople() {
      try {
        this.people = await new Client().getAllPeople();
      } catch (error) {
        console.error(error);
        const errorToast = await toastController.create({
          message:
            "There was an error trying to get People. Please try again later",
          duration: 2000,
        });
        return errorToast.present();
      }
    },
  },
  data() {
    return {
      nameToAdd: "",
      people: new Array<Person>(),
    };
  },
  async created() {
    this.refreshPeople();
  },
});
</script>